.aboutpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 150px 0 0 0;
    .gradient-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.8)
      );
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;
      .contents-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        .title-wrap {
          display: flex;
          flex-direction: column;
          .text-block {
            height: 2.5rem;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            span {
              font-size: 2.5rem;
              line-height: 1;
              color: $black900;
            }
            .fill-text {
              /* transition 중 텍스트가 줄바꿈되는 것을 방지 */
              white-space: nowrap;
              display: inline-block;
              /* position: absolute를 사용하여 겹치게 함 */
              position: absolute;
              top: 0;
              left: 0;
            }
            .ko-fill-enter-active,
            .ko-fill-leave-active {
              /* width만 transition 적용 (0.5초) */
              transition: width 0.5s ease;
            }

            /* 글자가 나갈 때 (오른쪽 -> 왼쪽으로 사라짐) */
            .ko-fill-leave-to {
              width: 0 !important;
              /* 나가는 글자의 시작 너비는 content의 너비여야 하므로 enter-from, enter-to에만 width를 명시 */
            }

            /* 새 글자가 들어올 때 (왼쪽 -> 오른쪽으로 채워짐) */
            .ko-fill-enter-from {
              width: 0 !important;
            }

            /* 새 글자가 들어올 때 (최종 상태: 100% 채워짐) */
            .ko-fill-enter-to {
              /* 너비가 content의 너비만큼 확장됨 */
              width: 100% !important;
            }
          }
          .keyworld-wrap {
            display: flex;
            align-items: center;
            font-size: 8vw;
            letter-spacing: 0.1vw;
            span {
              color: rgba($color: #000000, $alpha: 0.8);
            }
          }
          .stac-text {
            position: relative;
            z-index: 100;
            font-size: 8vw;
            letter-spacing: 0.1vw;
            text-align: right;
            color: rgba($color: #000000, $alpha: 0.8);
            mix-blend-mode: difference;
          }
        }
        .intro-text {
          position: absolute;
          left: 0;
          bottom: 50px;
          display: flex;
          flex-direction: column;
          span {
            font-size: 2rem;
            color: $black700;
            &:nth-child(2) {
              margin-left: 17rem;
            }
          }
        }
        .profile-img {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0);
          width: 20vw;
          min-width: 300px;
          aspect-ratio: 3 / 4;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .scroll-icon {
          position: absolute;
          right: 0;
          bottom: 30px;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  .rolling-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 150px 0;
    gap: 100px;
    width: 100%;
    overflow: hidden;
    .rolling-wrapper {
      display: flex;
      white-space: nowrap;
      .rolling-content {
        display: flex;
        align-items: center;
        will-change: transform;
        .rolling-item {
          display: flex;
          align-items: center;
          gap: 50px;
          padding-right: 50px;
          span {
            font-size: 15rem;
            line-height: 1;
            color: $black500;
          }
          .circle-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14rem;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            background-color: $blue500;
            .dev-icon {
              width: 60%;
              aspect-ratio: 105 / 58;
              svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          .rolling-icon {
            width: 14rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  .bio-section {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;

    .bio-content-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .bio-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      opacity: 1 !important;
      transform: none !important;

      .bio-text {
        font-size: clamp(2.5rem, 3vw, 5rem);
        color: $black900;
        white-space: nowrap;
      }

      .video-box {
        width: clamp(10rem, 7.2vw, 16rem);
        aspect-ratio: 160 / 90;
        overflow: hidden;
        video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .intro-section {
    width: 100%;
    height: 100vh;
    background-color: $blue500;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.08) 1px,
      /* 선 색상과 두께 (아주 연한 블랙) */ transparent 1px
    );
    background-size: 20% 100%;
    .pin-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      .title-wrap {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .sub-title {
          font-size: 2rem;
          color: #fff;
          text-align: center;
        }
        .en-text {
          font-size: clamp(2.5rem, 3vw, 5rem);
          letter-spacing: 0.3rem;
          word-break: keep-all;
          text-align: center;
          .char {
            font-family: "IBM Plex Mono", monospace;
            display: inline-block;
            color: rgba($color: #fff, $alpha: 0.2);
            position: relative;

            // 위에 덮어씌울 글자 (진한 색)
            // &::after {
            //   content: attr(data-char);
            //   position: absolute;
            //   left: 0;
            //   top: 0;
            //   color: $blue500; // 채워질 색상
            //   width: var(--fill-width, 0%);
            //   overflow: hidden;
            //   transition: none;
            // }
          }
        }
        .kr-text {
          opacity: 0;
          transform: translateY(50px);
          font-size: 2.5rem;
          text-align: center;
          word-break: keep-all;
          color: $blue50;
        }
      }
    }
  }
  .horizontal-section {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    transition: background-color 0.3s ease; /* 전환을 더 쫀득하게 */
    overflow: hidden;
    .pin-wrapper {
      display: flex;
      width: 100vw;
      height: 100vh;
      position: relative;
      background-color: transparent;
    }

    .horizontal-inner {
      display: flex;
      flex-wrap: nowrap; // 줄바꿈 방지
      width: max-content;
      height: 100%;
      will-change: transform;
      .one-page {
        width: 100vw; // 한 화면 전체 너비
        min-width: 1000px;
        height: 100%;
        flex-shrink: 0; // 너비 고정
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent !important;
        .title-wrap {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          h2 {
            font-size: 3rem;
          }
          p {
            font-size: 3.5rem;
            white-space: nowrap;
          }
        }
        .reveal-text {
          h2,
          p {
            clip-path: inset(0 100% 0 0);
            opacity: 1;
          }
        }
      }
      .identity-section {
        background-color: #fff;
        .wrapper {
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          .contents-inner {
            display: flex;
            align-items: stretch;
            gap: 3vw;
            padding: 100px 0 0 0;
            .img-area {
              width: 30%;
              .profile-img {
                width: 100%;
                min-width: 270px;
                aspect-ratio: 289 / 422;
                opacity: 0;
                // background-color: #fff;
                will-change: transform, opacity;
                mix-blend-mode: multiply;
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  mix-blend-mode: multiply;
                }
              }
            }
            .text-area {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 70%;
              padding: 5% 0;
              .title-wrap {
                h2 {
                  color: $blue500;
                }
                p {
                  color: $black900;
                }
              }
              .scrolling-svg-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-left: 10%;
                svg {
                  display: block;

                  object-fit: contain;
                  text {
                    letter-spacing: 7px;
                    font-size: 50px;
                    font-weight: 400;
                    font-family: "IBM Plex Mono";
                    fill: $blue100;
                  }
                }
              }
            }
          }
        }
      }
      .focus-section {
        position: relative;
        // min-width: 1500px;
        .inner {
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          gap: 20rem;
          padding: 13rem 20rem 10rem 20rem;
          .title-wrap {
            justify-content: flex-end;
            h2 {
              color: #fff;
            }
            p {
              color: #fff;
            }
          }
          .fluid-container {
            position: relative;
            // right: 0%;
            // top: 50%;
            margin-top: 15%;
            width: 30vw;
            height: 30vh;
            z-index: 10;
            .stage {
              background-color: transparent; // 부모 배경 전환을 보여주기 위해 투명하게
              .grain {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-image: url(https://assets.codepen.io/721952/grain.png);
                // mix-blend-mode: overlay;
                pointer-events: none;
                opacity: 0.5;
              }
              .char {
                font-size: 10rem;
                font-family: "IBM Plex Mono", monospace !important;
                font-weight: 300;
                text-shadow: 0 0 10px rgba(250, 250, 250, 0.3);
              }
            }
          }
        }
      }
      .workflow-section {
        position: relative;
        width: fit-content;
        min-width: fit-content;
        .content-wrap {
          width: 100%;
          height: 100%;
          .inner {
            display: flex;
            align-items: flex-end;
            gap: 15rem;
            width: 100%;
            height: 100%;
            padding: 10rem 20rem;
            .title-wrap {
              h2 {
                color: $mainpink;
              }
              p {
                color: #fff;
              }
            }
            .workflow-tags {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: space-between;
              gap: 20px;
              .tag {
                font-size: 13rem;
                line-height: 1;
                color: transparent;
                -webkit-text-stroke-color: #fff;
                -webkit-text-stroke-width: 1px;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
        .base-content {
          .inner {
            .workflow-tags {
              .tag {
                color: transparent;
                -webkit-text-stroke-color: #fff;
                -webkit-text-stroke-width: 1px;
              }
            }
          }
        }
      }
      .experience-section {
        position: relative;
        background-color: $black900;
        overflow: hidden;
        &::after {
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(50%, -50%);
          width: 60vw;
          aspect-ratio: 1 / 1;
          background: url(../assets/imgs/about/ellipse.png) no-repeat center
            center / contain;
          content: "";
        }
        .content-wrap {
          width: 100%;
          height: 100%;
          .inner {
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15rem;
            width: 100%;
            height: 100%;
            padding: 10rem 20rem;
            .title-wrap {
              position: relative;
              z-index: 10;
              h2 {
                color: $mainblue;
              }
              p {
                color: #fff;
              }
            }
            .img-wrap {
              position: absolute;
              left: 50%;
              bottom: 5%;
              width: clamp(25rem, 45vw, 100rem);
              transform: translate(-40%, 0%);
              .code-symbol {
                position: absolute;
                left: 10%;
                top: 20%;
                z-index: 10;
                transform: rotate(-10deg);
                border-radius: 6rem;
                padding: 10px 30px 15px 30px;
                background-color: rgba($color: #fff, $alpha: 0.1);
                box-shadow: inset 0px 3px 8px rgba($color: #fff, $alpha: 0.25);
                span {
                  font-size: clamp(2rem, 2.5vw, 4rem);
                  color: rgba($color: #fff, $alpha: 0.7);
                }
              }
              .code-greeting {
                position: absolute;
                right: 5%;
                bottom: 33%;
                z-index: 10;
                transform: rotate(10deg);
                display: flex;
                flex-direction: column;
                background-color: rgba($color: #fff, $alpha: 0.1);
                border-radius: 16px;
                width: fit-content;
                padding: 10px 20px;
                box-shadow: inset 0px 3px 8px rgba($color: #fff, $alpha: 0.25);
                span {
                  display: block;
                  font-size: clamp(2rem, 2.5vw, 4rem);
                  color: rgba($color: #fff, $alpha: 0.7);
                  white-space: nowrap;
                  &:nth-child(2) {
                    margin-left: 8rem;
                  }
                }
              }
              .macbook-img {
                width: 100%;
                transform: rotate(-22deg);

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
  .skills-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $mainblue;
    overflow: hidden;
    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fixed-area {
      position: absolute; // 화면에 고정
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      .bg-title {
        font-size: 15vw;
        color: #fff;
        opacity: 0.1; // 은은하게 고정
        text-transform: uppercase;
      }
    }
    .skill-card {
      position: absolute;
      // top: 0;
      width: 450px;
      min-height: 350px;
      padding: 40px 30px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.05);
      .skill-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .title-wrap {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h3 {
            font-size: 5rem;
            color: #fff;
          }
          span {
            font-size: 2rem;
            color: #fff;
          }
        }
        p {
          font-size: 1.5rem;
          line-height: 1.4;
          color: rgba($color: #fff, $alpha: 0.8);
        }
      }
      &:nth-child(odd) {
        left: 10%;
      }

      &:nth-child(even) {
        right: 10%;
      }
    }
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
    // padding: 10rem;
    margin-top: 0;
    transform: translateY(0);
    will-change: transform;
  }
  .vision-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $mainblue;
    color: #fff;
    padding: 0;

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1; // 캔버스보다 뒤에 배치
      .canvas-inner {
        position: relative;
        width: 100%;
        height: 100%;
        // pointer-events: none;
        .physics-canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          canvas {
            width: 100% !important;
            height: 100% !important;
            // pointer-events: auto;
          }
        }
      }
    }
    .contents-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 100px 0 50px 0;
      .title {
        font-size: 3rem;
        color: #fff;
      }
      .text-wrap {
        display: flex;
        align-items: flex-end;
        gap: 4rem;
        .main-text {
          font-size: 8vw;
          line-height: 1;
          color: #fff;
          white-space: nowrap;
          display: inline-block;
        }
        .sub-text {
          display: flex;
          flex-direction: column;
          margin-bottom: 1vw;
          flex: 1;
          min-width: none;
          span {
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.8);
            white-space: nowrap;
            &.row02 {
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .aboutpage-container {
    .visual-section {
      .wrapper {
        .contents-wrap {
          .title-wrap {
            .keyworld-wrap {
              font-size: 13rem;
            }
          }
        }
      }
    }
  }
}
/* ProjectPage.vue <style lang="scss"> 또는 SCSS 파일 */

#gsap-container {
  // 3D 컨테이너는 뷰포트 중앙에 오도록 설정
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box {
  // GSAP가 3D 위치를 제어하므로, 기본 스타일만 정의
  position: absolute;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: visible;
  transform-style: preserve-3d;
  // 텍스트 스타일 (색상은 GSAP로 설정된 배경색에 따라 반전시켜야 함)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: #fff; // 텍스트를 흰색으로 설정 (밝은 배경색 위에)
  filter: brightness(0.8);
  .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &:hover {
    filter: brightness(1.1);
    // 호버 시 카드가 앞으로 툭 튀어나오는 효과
    z-index: 100 !important;
  }
  .project-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .project-date {
    font-size: 1.2rem;
  }
}
