.pen-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  &.is-light {
    .dot-icon {
      background-color: #ffffff !important;
    }
    .text-wrapper span {
      color: #ffffff !important;
    }
    .main-title {
      color: #ffffff !important;
    }
    svg path {
      fill: #ffffff !important;
    }
    .hamburger-menu span {
      background-color: #ffffff !important;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    justify-content: space-between;
    .nav-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 18px;
      height: 40px;
      border-radius: 100px;
      background-color: rgba($color: #efefef, $alpha: 0.2);
      &::before {
        content: "";
        position: absolute;
        inset: -1px; // 보더 두께만큼 확장
        z-index: -1;
        background: linear-gradient(
          45deg,
          rgba(170, 170, 170, 0.1) 0%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0.1) 100%
        );
        background-size: 200% auto;
        background-size: 200% auto; // 움직일 여백 생성
        border-radius: 100px;

        // 마스크: 안쪽 칠해진 부분은 가리고 보더 라인만 남김
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; // 안쪽을 파내는 핵심 설정
        mask-composite: exclude;

        padding: 1px; // 보더 두께
        transition: opacity 0.3s ease;
      }
      &:hover {
        &::before {
          opacity: 1;
          animation: whiteShine 3s linear infinite;
        }
        .text-wrapper {
          span {
            &.original-text {
              transform: translateY(-100%);
            }
            &.hover-text {
              transform: translateY(-100%);
            }
          }
        }
      }
      &.on {
        .text-wrapper {
          span {
            color: $blue500;
          }
        }
      }
      .text-wrapper {
        position: relative;
        overflow: hidden;
        height: 20px;
        span {
          display: block;
          font-size: 18px;
          line-height: 1;
          transition: transform 0.3s ease-out;
          color: $black900;
          &.original-text {
            transform: translateY(0);
          }
          &.hover-text {
            transform: translateY(0);
          }
        }
      }
    }
    @keyframes whiteShine {
      0% {
        background-position: -200% center;
      }
      100% {
        background-position: 200% center;
      }
    }
    .nav {
      ul {
        display: flex;
        align-items: center;
        gap: 45px;
      }
    }
    .hamburger-menu {
      display: none;
    }
  }
}

.floating-download-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  z-index: 100;
  background-color: rgba($color: #fff, $alpha: 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: inset 0 4px 10px rgba(255, 255, 255, 0.3),
    inset 0 -4px 12px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
    .rotating-svg {
      animation-play-state: paused;
    }
  }
  .circle-text-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rotating-svg {
    width: 95px;
    height: 95px;
    animation: rotateText 15s linear infinite;
    textPath {
      fill: $black900; // 배경이 어두우면 흰색, 밝으면 #000
      font-family: "IBM Plex Mono", monospace !important;
      font-size: 11px;
      letter-spacing: -0.15px;
    }
  }
  .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 다크모드 대응이 필요할 경우 */
.is-light .floating-download-btn .rotating-svg text {
  fill: #fff;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  z-index: 999999;
  pointer-events: none;
  overflow: hidden;

  .loader-bar {
    width: 100%;
    height: 12.5vh; /* 8개이므로 100/8 = 12.5 */
    background: $black900; /* 원하는 색상으로 변경 */
    transform: translateX(-100%);
  }
}

/* --- 핵심 애니메이션 로직 --- */

/* 1. 페이지가 나갈 때: 박스가 가운데로 모여서 화면을 가림 */
.split-gate-leave-active ~ .split-overlay {
  .top-gate,
  .bottom-gate {
    transform: translateY(0%);
  }
}

/* 2. 새 페이지가 들어올 때: 다시 밖으로 밀어냄 */
/* enter-from 시점에 박스가 이미 닫혀있어야 하므로 아래처럼 설정 */
.split-gate-enter-from ~ .split-overlay {
  .top-gate,
  .bottom-gate {
    transform: translateY(0%);
  }
}

.split-gate-enter-active ~ .split-overlay {
  .top-gate {
    transform: translateY(-100%);
  }
  .bottom-gate {
    transform: translateY(100%);
  }
}

@media (max-width: 1280px) {
  .header {
    height: 60px;
    .wrapper {
      height: 60px;
      .nav {
        display: none;
      }
      .nav-btn {
        height: 30px;
        padding: 0 12px;
        .text-wrapper {
          height: 14px;
          span {
            font-size: 14px;
          }
        }
      }
      .hamburger-menu {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        position: relative;
        span {
          display: block;
          width: 18px;
          height: 1px;
          background-color: $black900;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          transform-origin: center;
        }
        &.is-active {
          span {
            // background-color: $black900 !important;
          }
          span:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
          }
          span:nth-child(2) {
            opacity: 0;
            transform: translateX(10px);
          }
          span:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }
  }
  /* 모바일 메뉴 전체 컨테이너 */
  .mobile-full-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
    display: flex;
    justify-content: flex-end;
    .menu-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000, $alpha: 0.2);
      backdrop-filter: blur(50px);
      padding: 80px 30px;
      .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 20px 0;
        li {
          width: 100%;
          a {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            align-items: center;
            justify-content: center;
            gap: 0;
            color: #fff;
            padding: 15px 10px;
            .num {
              display: none;
              font-size: 2vw;
              color: rgba($color: #fff, $alpha: 0.7);
            }
            .text {
              font-size: clamp(5rem, 6vw, 8rem);
              font-weight: 600;
              color: #fff;
            }
            &:hover .text {
              color: $mainblue;
            }
          }
        }
      }
    }
  }

  /* 애니메이션 (Fade + Slide) */
  .fade-slide-enter-active,
  .fade-slide-leave-active {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    .menu-content {
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  /* 시작 상태 (닫혀 있을 때) */
  .fade-slide-enter-from,
  .fade-slide-leave-to {
    opacity: 0; /* 배경은 그 자리에서 투명해짐 */

    .menu-content {
      transform: translateY(-50px); /* 너무 멀리서 오지 않게 살짝 위에서 시작 */
    }
  }

  /* 종료 상태 (완전히 열렸을 때) */
  .fade-slide-enter-to,
  .fade-slide-leave-from {
    opacity: 1;

    .menu-content {
      transform: translateY(0);
    }
  }
}

.footer {
  width: 100%;
  height: 100vh;
  min-height: 900px;
  background-color: $black900;
  color: #fff;
  padding: 100px 0 50px 0;
  &.type-b {
    height: 100%;
    min-height: 100%;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
    padding: 30px 0;
    .wrapper {
      .f-info {
        justify-content: flex-end;
        .left-wrap {
          display: none;
        }
        .right-wrap {
          display: flex;
          align-items: flex-end;
          span {
            font-size: 15px;
            text-align: right;
          }
        }
      }
    }
  }
  &.is-light {
    background-color: #fff;
    &.type-b {
      border-top: 1px solid rgba($color: #000, $alpha: 0.05);
    }
    .wrapper {
      .contact-wrap {
        p {
          color: $black700;
        }
      }
      .f-info {
        .left-wrap {
          span {
            color: $black700;
          }
        }
        .right-wrap {
          span {
            color: $black200;
          }
        }
      }
    }
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    .contact-wrap {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -70%);
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 100%;
      p {
        font-size: clamp(4.5rem, 4vw, 7rem);
        color: #fff;
        text-align: center;
        width: 100%;
      }
    }
    .f-info {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .left-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
        span {
          font-size: clamp(15px, 2vw, 22px);
          color: #fff;
        }
      }
      .right-wrap {
        span {
          font-size: clamp(13px, 1.8vw, 20px);
          color: rgba($color: #fff, $alpha: 0.7);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .wrapper {
      padding: 0 20px;
    }
  }

  .floating-download-btn {
    right: 20px;
    bottom: 40px;
    width: 70px;
    height: 70px;
    &:hover {
      transform: scale(1);
    }
    .rotating-svg {
      width: 65px;
      height: 65px;
    }
    .center-icon {
      width: 20px;
      height: 20px;
    }
  }
}
