.projectpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px 0;

    .sub-title {
      span {
        font-size: 2rem;
        background-size: 250% 100%, auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        --base-color: #71717a;
        --gradient-color: #ffffff;
        --spread: 10px;
        background-image: linear-gradient(
            90deg,
            transparent calc(50% - var(--spread)),
            var(--gradient-color),
            transparent calc(50% + var(--spread))
          ),
          linear-gradient(var(--base-color), var(--base-color));
        background-repeat: no-repeat;
        animation: shimmer 2s linear infinite;
      }
    }
    @keyframes shimmer {
      0% {
        background-position: 100% center;
      }
      100% {
        background-position: 0% center;
      }
    }
    .title-wrap {
      margin-top: -150px;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          font-size: 2.5rem;
          color: $black700;
        }
        h2 {
          .key {
            display: inline-block;
            font-size: 19rem;
            line-height: 1;
            letter-spacing: 0.5rem;
            color: $black900;
            will-change: transform;
          }
        }
      }
    }

    .thumb-rolling-container {
      width: 100%;
      height: clamp(500px, 70vw, 900px);
      overflow: hidden;
      perspective: 3000px;
      perspective-origin: center top;
      .thumb-stage {
        width: 200%;
        transform-style: preserve-3d;

        transform: rotate(-32deg) rotateX(26deg) rotateY(25deg) skewX(8deg)
          skewY(11deg);
        .thumb-roller {
          display: flex;
          gap: 24px;
          width: max-content;

          animation: rollInfinite 40s linear infinite;
          .thumb-card {
            width: 18vw;
            min-width: 300px;
            aspect-ratio: 3/ 4;
            flex-shrink: 0;
            border-radius: 14px;
            background-color: #ededed;
            overflow: hidden;
            transform: translateZ(60px);
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    @keyframes rollInfinite {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }

    .scroll-icon {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
    }
  }
  .head-section {
    padding: 100px 0 50px 0;
    background-color: $black900;
    color: #fff;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .head-tite-wrap {
        display: flex;
        flex-direction: column;
        .count {
          font-size: 2rem;
          color: #fff;
        }
        .title-wrap {
          display: flex;
          align-items: center;
          gap: 2rem;
          h2 {
            font-size: 8rem;
            color: #fff;
          }
          .icon {
            width: 6rem;
            height: 6rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      .list-view-toggle {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 50px;
        border: 1px solid #fff;
        z-index: 1;
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: calc(100% - 20px);
          width: calc(50% - 20px);
          background-color: #fff;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
          z-index: -1;
          content: "";
        }
        &.mode-grid::before {
          left: 15px;
        }
        &.mode-list::before {
          left: calc(50% + 5px);
        }
        button {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 5px 15px;
          .icon {
            width: 2rem;
            height: 2rem;
            svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
              path {
                transition: all 0.3s ease-in-out;
              }
            }
          }
          span {
            font-size: 1.8rem;
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
          &.active {
            span {
              color: $black900;
            }
            &.view-btn-grid .icon svg path {
              fill: $black900;
            }
            &.view-btn-list .icon svg path {
              stroke: $black900;
            }
          }
        }
      }
    }
  }
  .list-section {
    background-color: $black900;
    color: #fff;
    padding: 0 0 150px 0;
    .project-grid-view {
      display: flex;
      flex-wrap: wrap;
      gap: 10rem 16rem;
      .grid-item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: calc(50% - 8rem);
        cursor: pointer;
        .project-thumb {
          display: block;
          position: relative;
          width: 100%;
          aspect-ratio: 800 / 533;
          background: #000;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
          .hover-img {
            display: none;
          }
          .project-skills {
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            z-index: 50;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 80%;
            gap: 1rem;
            span {
              font-size: 1.5rem;
              padding: 0.5rem 1rem;
              border-radius: 2rem;
              color: #fff;
              background-color: rgba($color: #000, $alpha: 0.4);
              backdrop-filter: blur(5px);
            }
          }
        }
        .project-info {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 2rem;
          padding: 0 1.5rem;
          .title-wrap {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h3 {
              font-size: 2.5rem;
              color: #fff;
            }
            span {
              font-size: 2rem;
              color: rgba($color: #fff, $alpha: 0.7);
            }
          }
          .project-date {
            font-size: 2rem;
            color: rgba($color: #fff, $alpha: 0.8);
          }
        }
      }
    }
    .project-list-view {
      position: relative;
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
      .floating-thumbnail {
        position: fixed; // 마우스 포인터 기준
        top: 0;
        left: 0;
        width: 30vw; // 이미지 크기
        aspect-ratio: 3 / 2;
        z-index: 999;
        pointer-events: none; // 중요: 마우스 이벤트를 무시해야 리스트 호버가 안 풀림
        overflow: hidden;
        // border-radius: 10px;
        opacity: 0;
        transform: scale(0);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .list-head-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
        cursor: pointer;
        .title-wrap {
          display: flex;
          align-items: flex-end;
          gap: 2rem;
          width: calc(50% - 1rem);
          h3 {
            font-size: 2.5rem;
            color: #fff;
            white-space: nowrap;
          }
          span {
            font-size: 1.5rem;
            color: rgba($color: #fff, $alpha: 0.7);
          }
        }
        .project-category {
          display: flex;
          align-items: center;
          gap: 4px;
          .category-tag {
            font-size: 1.5rem;
            color: rgba($color: #fff, $alpha: 0.7);
            .separator {
              margin-right: 4px;
              font-style: normal;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
        .project-skills {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 5px;
          width: calc(40% - 1rem);
          span {
            padding: 10px 5px;
            font-size: 1.5rem;
            color: rgba($color: #fff, $alpha: 0.8);
          }
        }
        .project-date {
          width: calc(10% - 1rem);
          font-size: 1.5rem;
          text-align: right;
          color: rgba($color: #fff, $alpha: 0.8);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .projectpage-container {
    .list-section {
      .project-grid-view {
        gap: 6rem 8rem;
        .grid-item {
          width: calc(50% - 4rem);
        }
      }
    }
  }
}

@media (max-width: 768px) {
}
