.projectpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .sub-title {
        span {
          font-size: 3rem;
          color: $black200;
        }
      }
      .title-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          font-size: 3rem;
          color: $black900;
        }
        h2 {
          font-size: 19rem;
          line-height: 1;
          letter-spacing: 0.5rem;
          color: $black900;
        }
      }
      .thumb-rolling-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .scroll-icon {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
      }
    }
  }
  .list-section {
    padding: 100px 0;
    background-color: $black900;
    color: #fff;
  }
}
