.wrapper {
  width: 100%;
  padding: 0 80px;
  max-width: 2000px;
  margin: 0 auto;
}

.scroll-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  span {
    font-size: 15px;
    color: $black900;
    animation: scroll_bounce 1.5s ease-in-out infinite;
  }
  .icon {
    width: 24px;
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: scroll_bounce 1.5s ease-in-out infinite;
    }
  }
}

@keyframes scroll_bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}

.round-btn {
  display: flex;
  align-self: center;
  font-size: 2.5rem;
  padding: 2rem 4rem;
  border-radius: 10rem;
  color: $black900;
  background-color: #fff;
}

.more-btn-wrap {
  display: flex;
  justify-content: center;
  .more-btn {
    position: relative;
    display: inline-block;
    padding: 2rem 3rem;
    background-color: $black900;
    color: #fff;
    font-size: 2rem;
    border-radius: 10rem;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $blue500;
      transition: width 0.4s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
  }
}
