.chakansonsapage-container {
  .project-body {
    background-color: #fff;
    .contents-section-container {
      .task-section {
        .wrapper {
          .content-wrap {
            ul {
              li {
                background-color: rgba($color: #8e7978, $alpha: 0.05);
                .title {
                  color: $black900;
                }
              }
            }
          }
        }
      }
    }
  }
}
