.projectdetailpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20rem;
      .project-info {
        position: relative;
        z-index: 50;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 5rem;
        .info-header {
          display: flex;
          flex-direction: column;
          .sub-title {
            font-size: 14px;
            color: rgba($color: #fff, $alpha: 0.8);
          }
          .main-title {
            font-size: 8rem;
            color: #fff;
          }
        }
        .info-action {
          .view-more-btn {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            flex-shrink: 0;
            .icon {
              width: 100px;
              height: 100px;
              svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            span {
              font-size: 13px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.summary-section {
  .info-meta-list {
    display: flex;
    align-items: center;
    gap: 10rem;
    .meta-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        font-size: 14px;
        color: #fff;
      }
      .skill-tag-group {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        span {
          display: block;
          font-size: 15px;
          line-height: 1;
          padding: 4px 12px 5px 12px;
          border-radius: 20px;
          color: #fff;
          background-color: rgba($color: #fff, $alpha: 0.1);
          border: 0.5px solid #fff;
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}
