.projectdetailpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 110px 0 50px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25%;
      z-index: 30;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 60%
      );
      content: "";
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20rem;
      height: 100%;
      .project-info {
        position: relative;
        z-index: 50;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 5rem;
        .info-header {
          display: flex;
          flex-direction: column;
          .sub-title {
            font-size: 14px;
            color: rgba($color: #fff, $alpha: 0.8);
          }
          .main-title {
            font-size: 8rem;
            color: #fff;
          }
        }
        .info-action {
          .view-more-btn {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            flex-shrink: 0;
            .icon {
              width: 100px;
              height: 100px;
              svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            span {
              font-size: 13px;
              color: #fff;
            }
            &.black {
              .icon {
                svg {
                  path {
                    stroke: $black900;
                  }
                }
              }
              span {
                color: $black900;
              }
            }
          }
        }
      }
    }
  }
  .project-body {
    padding: 100px 0;
    .summary-section {
      padding: 0 0 100px 0;
      .info-meta-list {
        display: flex;
        align-items: flex-start;
        gap: 10rem;
        padding: 30px 0;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        .meta-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          span {
            font-size: 14px;
            color: #fff;
          }
          .skill-tag-group {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            span {
              display: block;
              font-size: 13px;
              line-height: 1;
              padding: 4px 12px 5px 12px;
              border-radius: 20px;
              color: #fff;
              background-color: rgba($color: #fff, $alpha: 0.1);
              border: 0.5px solid #fff;
              backdrop-filter: blur(5px);
            }
          }
          .task-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            li {
              position: relative;
              font-size: 14px;
              color: #fff;
              padding-left: 12px;
              &::before {
                position: absolute;
                left: 0;
                top: 8px;
                width: 2px;
                height: 2px;
                background-color: #fff;
                border-radius: 100%;
                content: "";
              }
            }
          }
        }
      }
      &.font_black {
        .info-meta-list {
          border-top: 1px solid rgba($color: #000, $alpha: 0.1);
          border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
          .meta-item {
            span {
              color: $black900;
            }
            .skill-tag-group {
              span {
                color: $black900;
                // background-color: rgba($color: #000, $alpha: 0.1);
                border: 0.5px solid #000;
              }
            }
            .task-list {
              li {
                color: $black900;
                &::before {
                  background-color: $black900;
                }
              }
            }
          }
        }
      }
    }
    .overview-section {
      .wrapper {
        display: flex;
        align-items: flex-start;
        gap: 20rem;
        .title {
          font-size: 20px;
          color: #fff;
        }
        .content-wrap {
          p {
            font-size: 15px;
            color: #fff;
          }
        }
      }
      &.font_black {
        .wrapper {
          .title {
            color: $black900;
          }
          .content-wrap {
            p {
              color: $black500;
            }
          }
        }
      }
    }
  }
}
