.projectdetailpage-container {
  .visual-section {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 1080;
    overflow: hidden;
    .visual-pc,
    .visual-m {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .visual-m {
      display: none;
    }
  }
  .project-body {
    padding: 10rem 0 0 0;
    background-color: #ffffff;
    .project-info {
      position: relative;
      z-index: 50;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
      padding: 0 0 5rem 0;
      .info-header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .sub-title {
          font-size: 14px;
          color: $black500;
        }
        .main-title {
          font-size: clamp(3rem, 6.5vw, 7.5rem);
          color: $black900;
        }
      }
      .info-action {
        .view-more-btn {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 10px;
          flex-shrink: 0;
          .icon {
            width: 100px;
            height: 100px;
            svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
              path {
                stroke: $black900;
              }
            }
          }
          span {
            font-size: 13px;
            stroke: $black900;
          }
        }
      }
    }
    .summary-section {
      .info-meta-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 10rem;
        row-gap: 3rem;
        padding: 30px 0;

        .meta-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .label {
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
              content: "";
              display: inline-block;
              width: 6px;
              height: 6px;
              background-color: $black900;
              flex-shrink: 0;
            }
          }
          span {
            font-size: 14px;
            color: $black900;
          }
          .skill-tag-group {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            span {
              display: block;
              font-size: 13px;
              line-height: 1;
              padding: 5px 12px 7px 12px;
              border-radius: 20px;
              color: $black900;
              background-color: rgba($color: #fff, $alpha: 0.1);
              border: 0.5px solid #000;
              backdrop-filter: blur(5px);
            }
          }
          .task-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            li {
              position: relative;
              font-size: 14px;
              color: $black900;
              padding-left: 12px;
              &::before {
                position: absolute;
                left: 0;
                top: 8px;
                width: 2px;
                height: 2px;
                background-color: $black900;
                border-radius: 100%;
                content: "";
              }
            }
          }
        }
      }
    }
    .contents-section-container {
      display: flex;
      flex-direction: column;
      gap: 10rem;
      padding: 10rem 0;
      border-top: 1px solid rgba($color: #000, $alpha: 0.1);
      // border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
      section {
        .section-title {
          font-size: 20px;
          color: $black900;
        }
      }
      .overview-section {
        .wrapper {
          display: flex;
          align-items: flex-start;
          gap: 20rem;
          .content-wrap {
            p {
              font-size: 15px;
              color: $black500;
            }
          }
        }
      }
      .technical-section {
        .wrapper {
          .section-title {
            display: block;
            margin-bottom: 2rem;
          }
          .tech-container {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            .tech-item {
              display: flex;
              flex-direction: column;
              gap: 7rem;
              .tech-info {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .info-label {
                  font-size: 3rem;
                  color: #fff;
                }
                .info-desc {
                  font-size: 1.5rem;
                  color: rgba($color: #fff, $alpha: 0.9);
                  em {
                    font-size: 1.5rem;
                    color: rgba($color: #fff, $alpha: 0.9);
                    font-weight: 700;
                  }
                }
              }
              .contents-wrap {
                .tech-img {
                  width: 100%;
                  img {
                    width: 100%;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.is-dark {
      .project-info {
        .info-header {
          .sub-title {
            color: rgba($color: #fff, $alpha: 0.8);
          }
          .main-title {
            color: #fff;
          }
        }
        .info-action {
          .view-more-btn {
            .icon {
              svg {
                path {
                  stroke: #fff;
                }
              }
            }
            span {
              color: #fff;
            }
          }
        }
      }
      .summary-section {
        .info-meta-list {
          .meta-item {
            .label {
              &::before {
                background-color: #fff;
              }
            }
            span {
              color: #fff;
            }
            .skill-tag-group {
              span {
                color: #fff;
                border: 0.5px solid #fff;
              }
            }
            .task-list {
              li {
                color: #fff;

                &::before {
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
      .contents-section-container {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
        // border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        section {
          .section-title {
            font-size: 20px;
            color: #fff;
          }
        }
        .overview-section {
          .wrapper {
            .content-wrap {
              p {
                color: rgba($color: #fff, $alpha: 0.8);
              }
            }
          }
        }
        .technical-section {
          .wrapper {
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .projectdetailpage-container {
    .visual-section {
      height: 100%;
      aspect-ratio: 768 / 900;
      .visual-pc {
        display: none;
      }
      .visual-m {
        display: block;
      }
    }
    .project-body {
      padding: 5rem 0;
      .project-info {
        height: 100%;
        .info-header {
          width: 100%;
          gap: 1rem;
          .sub-title {
            font-size: 12px;
          }
          .main-title {
            font-size: clamp(4rem, 7vw, 6.5rem);
          }
        }
        .info-action {
          .view-more-btn {
            .icon {
              display: none;
            }
            span {
              position: relative;
              font-size: 13px;
              white-space: nowrap;
              padding-right: 21px;
              &::after {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 16px;
                height: 16px;
                background: url(../../../src/assets/imgs/icon/arrow_forward_w.svg)
                  no-repeat center center / contain;
                content: "";
              }
            }
          }
        }
      }
      .contents-section-container {
        section {
          .section-title {
            font-size: 18px;
          }
        }
        .summary-section {
          .info-meta-list {
            gap: 30px;
          }
        }
        .overview-section {
          .wrapper {
            flex-direction: column;
            gap: 20px;

            .content-wrap {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
