.kmusicalpage-container {
  background-color: $black900;
  .visual-section {
    position: relative;
    background-image: url("../../../src/assets/imgs/projects/kmusical/visual_bg.jpg");
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25%;
      z-index: 30;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      );
      content: "";
    }
    .mockup-pc {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .mockup-m {
      position: absolute;
      right: 0;
      bottom: 7%;
      z-index: 15;
      width: 25vw;
      aspect-ratio: 1 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
  .project-body {
    background-color: $black900;
  }
  .summary-section {
  }
}
