.louche9page-container {
  .project-body {
    background-color: #fff;
    .contents-section-container {
      .task-section {
        .wrapper {
          .content-wrap {
            ul {
              li {
                background-color: rgba($color: #ff5ea4, $alpha: 0.05);
                .title {
                  color: #ff5ea4;
                }
              }
            }
          }
        }
      }
    }
  }
}
