.picorporationpage-container {
  background-color: $black900;
  .visual-section {
    position: relative;
  }
  .project-body {
    background-color: $black900;
    .contents-section-container {
      .task-section {
        .wrapper {
          .content-wrap {
            ul {
              li {
                .title {
                  color: #ff006e;
                }
              }
            }
          }
        }
      }
    }
  }
}
