.seoul80page-container {
  .visual-section {
    .wrapper {
      justify-content: flex-start;
      .project-info {
        display: flex;
        align-items: flex-start;
        height: 100%;
        .info-header {
          .sub-title {
            color: rgba($color: #184aff, $alpha: 0.8);
          }
          .main-title {
            color: #184aff;
          }
        }
        .info-action {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .project-body {
    background-color: #fff;
  }
}
