.wellaspage-container {
  .project-body {
    background-image: linear-gradient(to top, $black900, #030a0d);
    .contents-section-container {
      .task-section {
        .wrapper {
          .content-wrap {
            ul {
              li {
                background-color: rgba($color: #fff, $alpha: 0.1);
                .title {
                  color: #1bb3c5;
                }
              }
            }
          }
        }
      }
    }
  }
}
